@mixin apply-styles($styles: ()) {
  @each $prop, $value in $styles {
    #{$prop}: $value;
  }
}

@mixin button-no-styles {
  appearance: none;
  background: none;
  border-style: none;
  cursor: pointer;
  padding: 0;
}
