@mixin apply-styles($styles: ()) {
  @each $prop, $value in $styles {
    #{$prop}: $value;
  }
}

@mixin button-no-styles {
  appearance: none;
  background: none;
  border-style: none;
  cursor: pointer;
  padding: 0;
}

@mixin absolute-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
