/* Colors */
$color-white: #ffffff;
$color-gray: #e5e8ea;
$color-gray-light: #e6e9f1;
$color-gray-dark: #a0a3bd;
$color-midnight-navy: #2f2f44;

/* Fonts */
$font-primary: 'Segoe UI';
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Text styles */
$text-hero: (
  font-size: 24px,
  line-height: 30px,
  font-weight: $font-weight-bold,
);

$text-page-title: (
  font-size: 20px,
  line-height: 24px,
  font-weight: $font-weight-bold,
);

$text-headline: (
  font-size: 18px,
  line-height: 22px,
  font-weight: $font-weight-bold,
);

$text-subhead-semibold: (
  font-size: 16px,
  line-height: 20px,
  font-weight: $font-weight-semibold,
);

$text-subhead-regular: (
  font-size: 16px,
  line-height: 20px,
  font-weight: $font-weight-regular,
);

$text-body-semibold: (
  font-size: 14px,
  line-height: 20px,
  font-weight: $font-weight-semibold,
);

$text-body-regular: (
  font-size: 14px,
  line-height: 20px,
  font-weight: $font-weight-regular,
);

$text-body-small-regular: (
  font-size: 12px,
  line-height: 16px,
  font-weight: $font-weight-regular,
);

$text-caption: (
  font-size: 12px,
  line-height: 16px,
  font-weight: $font-weight-semibold,
);

$text-caption-caps: (
  font-size: 10px,
  line-height: 12px,
  font-weight: $font-weight-semibold,
  text-transform: uppercase,
);

$text-small: (
  font-size: 10px,
  line-height: 12px,
  font-weight: $font-weight-regular,
);

/* Transition */
$transition-duration: 0.2s;
