/* Colors */
$color-primary: #008cff;
$color-primary-dark: #0076D6;
$color-white: #ffffff;
$color-grey: #e5e8ea;
$color-grey-light: #e6e9f1;
$color-icon-light: #a0a3bd;
$color-cold-grey: #d3dae4;
$color-cold-grey-dark: #6a7686;
$color-cold-grey-light: #f6f7f8;
$color-mint: #badedf;
$color-mint-dark: #5f999b;
$color-mint-light: #f5fafa;
$color-shade: #f7f7fc;
$color-input: #ebeef5;
$color-midnight-navy: #2f2f44;
$color-distinct: #6e7191;
$color-neutral: #4e4b66;
$color-warning: #ff8c00;
$color-yellow: #f4e8be;
$color-yellow-light: #fff7db;
$color-purple: #c7bbdd;
$color-purple-dark: #746197;
$color-purple-light: #f7f5fa;
$color-green: #bfe0b8;
$color-green-dark: #6d9f4f;
$color-green-light: #f8fcf7;
$color-success: #69bc35;
$color-attention: #ed6a61;

/* Fonts */
$font-primary: 'Segoe UI';
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Text styles */
$text-hero: (
  font-size: 24px,
  line-height: 30px,
  font-weight: $font-weight-bold,
);

$text-page-title: (
  font-size: 20px,
  line-height: 24px,
  font-weight: $font-weight-bold,
);

$text-headline: (
  font-size: 18px,
  line-height: 22px,
  font-weight: $font-weight-bold,
);

$text-subhead-semibold: (
  font-size: 16px,
  line-height: 20px,
  font-weight: $font-weight-semibold,
);

$text-subhead-regular: (
  font-size: 16px,
  line-height: 20px,
  font-weight: $font-weight-regular,
);

$text-body-semibold: (
  font-size: 14px,
  line-height: 20px,
  font-weight: $font-weight-semibold,
);

$text-body-regular: (
  font-size: 14px,
  line-height: 20px,
  font-weight: $font-weight-regular,
);

$text-body-small-regular: (
  font-size: 12px,
  line-height: 16px,
  font-weight: $font-weight-regular,
);

$text-caption: (
  font-size: 12px,
  line-height: 16px,
  font-weight: $font-weight-semibold,
);

$text-caption-bold: (
  font-size: 12px,
  line-height: 16px,
  font-weight: $font-weight-bold,
  letter-spacing: 0.8px,
  text-transform: uppercase,
);

$text-caption-caps: (
  font-size: 10px,
  line-height: 12px,
  font-weight: $font-weight-semibold,
  text-transform: uppercase,
);

$text-small: (
  font-size: 10px,
  line-height: 12px,
  font-weight: $font-weight-regular,
);

$text-chip: (
  font-size: 10px,
  line-height: 14px,
  font-weight: $font-weight-bold,
  letter-spacing: 0.6px,
);

/* Transition */
$transition-duration: 0.2s;
