@use '@/styles/utils/index.scss' as utils;

body {
  @include utils.apply-styles(utils.$text-body-regular);
  color: utils.$color-distinct;
}

a {
  text-decoration: none;
  transition: color utils.$transition-duration;
}

dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

